body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a9bcb5;
  margin: 10px;
}



.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  font-size: 25px;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #afb4b2;
  color: white;
}

.salutation {
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 10px; /* Add spacing between the emoji and text */
}

.text-container {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px; /* Adjust the font size as needed */
}

.salutation{
  width: 200px;
  border: 2px #22e295;
  box-shadow: #22e295;
  background-color: rgb(181, 224, 238);
  border-radius: 10px;
}

/* Contact Section */
.contact {
  width: 200px;
  border-radius: 10px;
  padding: 30px 0;

  background-color: #fff;
}

.contact p {
  margin: 5px 0;
  padding-left: 10px;
}

/* Summary Section */
.summary {
  padding: 40px 0;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  background-color: #eaeaea;
}

.summary p {
  margin: 5px 0;
  padding-left: 10px;
}

/* Experience Section */
.summary h3 {
  font-size: 24px;
  margin: 10px 0;
}

/* About Me Section */
.aboutme {
  padding: 40px 0;
  text-align: center;
  background-color: #f8f8f8;
  width: 350px;
  border-radius: 10px;
}

.aboutme img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.aboutme h2 {
  margin: 10px 0;
}

/* Lets Connect Section */
.lets-connect {
  padding: 40px 0;
  text-align: center;
  background-color: #eaeaea;
  width: 350px;
  border-radius: 10px;
}

.lets-connect h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.lets-connect p {
  margin: 5px 0;
}

/* Contact Form Section */
.contact-form {
  padding: 40px 0;
  text-align: center;
  background-color: #f8f8f8;
  width: 350px;
  border-radius: 10px;
  padding-left: 10px;
  justify-content: center;
}

.contact-form p {
  margin: 5px 0;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 250px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Footer Section */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.footer p {
  margin: 5px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-links source {
  margin: 0 5px;
}
